@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Poppins', sans-serif; */
}
.card_crew {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
    gap: 20px;
  /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
}

@media screen and (min-width: 768px) {
  .card_crew {
    grid-template-columns: repeat(2, 1fr);
  }
}

.wrappers {
  height: 400px;
  width: 320px;
  position: relative;
  transform-style: preserve-3d;
  perspective: 1000px;
}
.wrappers .card {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 5px;
  background: #fff;
  border-radius: 10px;
  transform: translateY(0deg);
  transform-style: preserve-3d;
  backface-visibility: hidden;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
}
/* .wrappers:hover > .front-face {
transform: rotateY(-180deg);
} */
.wrappers .card img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.wrappers .back-face {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  transform: rotateY(0deg);
}
/* .wrappers:hover > .back-face {
transform: rotateY(0deg);
} */
.wrappers .back-face img {
  height: 150px;
  width: 150px;
  padding: 5px;
  border-radius: 50%;
  background: linear-gradient(375deg, #1cc7d0, #2ede98);
}
.wrappers .back-face .info {
  text-align: center;
}
.back-face .info .title {
  font-size: 30px;
  font-weight: 500;
}
.back-face ul {
  display: flex;
}
.back-face ul a {
  display: block;
  height: 40px;
  width: 40px;
  color: #fff;
  text-align: center;
  margin: 0 5px;
  line-height: 38px;
  border: 2px solid transparent;
  border-radius: 50%;
  background: linear-gradient(375deg, #1cc7d0, #2ede98);
  transition: all 0.5s ease;
}
.back-face ul a:hover {
  color: #1cc7d0;
  border-color: #1cc7d0;
  background: linear-gradient(375deg, transparent, transparent);
}
